.page-header {
    border: 1px solid  rgba(236, 236, 236, 1);
}
.nav {
    display: flex;
    align-items: center;
}
.nav__menu {
    display: none;
}


.nav__btn {
    display: flex;
}

.nav__menu__list {
padding: 0;
margin: 0;
display: flex;
}

.nav__menu__item {
margin-right: 50px;
}

.nav__menu__link {
text-decoration: none;
color: #212121;
font-weight: 500;
font-size: 40px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.link__current {
color: $acent-color;
}

.autorisation {
display: block;
}

.nav__auth__list {
padding: 0;
margin: 0;
}
.nav__auth__link {
text-decoration: none;
color: #757575;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.current__auth {
color: $acent-color;
}
.nav__sosial__link {
text-decoration: none;
color: $acent-color;
}