.page-header_portfolio{
    outline: 1px solid #eeeeee;
    background-color: #ffffff;
}
.portfolio_section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.filter__list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter__list__item{
    margin-right: 8px;
}
.filter__list__item:last-child{
margin-right: 0;
}

.filter__list__item__button{
    padding: 6px 22px;
    text-align: center;
    margin-right: 8px;
    
    background-color: $team-background-color;
    color: $secondary-hesd-color;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
    .filter__list__item__button:hover,
    .filter__list__item__button:focus {
        background-color: $acent-color;
        color: $head-text-color;
    }
.portfolio {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    padding: 0;
}
.portfolio__item{
  
   
    margin-bottom: 30px;
    

        background-color: var(#ffffff);
        border-right: 1px solid #eeeeee;
        border-left: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
    
}



.portfolio__item__image{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    
}

.portfolio__item__overlay {
    position: absolute;
    align-items: center;
    padding: 64px 24px;

    top: 0;
    left: 0;
    transform: translateY(100%);
        font-weight: 400;
        font-size: 18px;
        line-height: 1.56;
    letter-spacing: 0.03em;
    background-color: rgba(33, 150, 243, 0.9);
    ;
    color: $head-text-color;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.portfolio__item__image:hover .portfolio__item__overlay,
.portfolio__item__link:hover .portfolio__item__overlay {
    transform: translateY(0)
}

.portfolio__item__link:hover,
.portfolio__item__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);

}



.portfolio__item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

    .portfolio__item__title {
        margin-bottom: 4px;
    
        color: $secondary-hesd-color;
        font-family: "Roboto";
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        
        text-decoration: none;
    
    }
    
.portfolio__item__text{
        color: $primary-text-color;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        
        
        }
        .portfolio__item__discription{
            padding: 20px 24px;
            border: 1px solid #EEEEEE;
           
        }
    
        .portfolio__item__link {
            display: block;
            color: inherit;
            text-decoration: none;
        }